<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Users Table</h6>
                    <div class="ml-3 float-end">
                        <div class="btn btn-outline-primary" @click="showAddUserModal">Add User</div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        No</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Code</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Profile</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Name</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Gender</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Role</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Email</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Phone</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Address</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user, index) in users" :key="user.id">
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        index + 1 ]]</td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.code ]]</td>
                                    <td>
                                        <img :src="user.profile" class="avatar avatar-sm" alt="User profile">
                                    </td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.name ]]</td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.gender_id ]]
                                    </td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.role ]]</td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.email ]]</td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.phone ]]</td>
                                    <td class="align-middle text-center text-secondary text-xs font-weight-bold">[[
                                        user.address ]]</td>
                                    <td class="align-middle text-center">
                                        <div class="btn btn-primary" @click="showEditUserModal(user)">Edit</div>
                                        <div class="btn btn-warning" @click="confirmDelete(user.id)">Delete</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing User -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" @click="closeModal('editUserModal')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit-name">Name:</label>
                            <input type="text" class="form-control" v-model="editUser.name" id="edit-name" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit-code">Code:</label>
                            <input type="text" class="form-control" v-model="editUser.code" id="edit-code" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit-email">Email:</label>
                            <input type="email" class="form-control" v-model="editUser.email" id="edit-email" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit-phone">Phone:</label>
                            <input type="tel" class="form-control" v-model="editUser.phone" id="edit-phone" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit-gender">Gender:</label>
                            <select class="form-control" v-model="editUser.gender_id" id="edit-gender">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit-role">Role:</label>
                            <input type="text" class="form-control" v-model="editUser.role" id="edit-role" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="edit-address">Address:</label>
                            <textarea class="form-control" v-model="editUser.address" id="edit-address"></textarea>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Profile Image</label>
                        <div class="input-group">
                            <input type="file" class="form-control" @change="onImageUpload" />
                        </div>
                        <div v-if="editUser.profile">
                            <img :src="editUser.profile" alt="Selected Image" class="img-fluid mt-2"
                                style="max-width: 100px;" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" @click="closeModal('editUserModal')">Cancel</button>
                <button type="button" class="btn btn-primary" @click="updateUser">Update User</button>
            </div>
        </div>
    </div>
</div>