 <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0   fixed-start  " id="sidenav-main" >
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="" target="_blank" style="background-color:  rgb(188, 238, 238);">
        <i class="fa fa-dashboard" style="width: 0px;"></i>
        <span class="ms-3 font-weight-bold" >Admin Dashboard</span>
      </a>
    </div>
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav" >
       <li class="nav-item">
          <a class="nav-link {% if module == 'product' %}active{% endif %}" href="/admin/product">
            
            <span class="nav-link-text ms-1">Product</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if module == 'category' %}active{% endif %}" href="/admin/category">
            
            <span class="nav-link-text ms-1">Category</span>
          </a>
        </li>
      <li class="nav-item">
          <a class="nav-link {% if module == 'user' %}active{% endif %}" href="/admin/user">
            
            <span class="nav-link-text ms-1">User</span>
          </a>

        </li>
        
      </ul>
    </div>
    
  </aside>